<div class="row">
    <div id="sidebar" class= "col-lg-4" >
      <%= link_to "サイト管理",  admin_sites_url %><br> 
      <%= link_to  "商品管理", admin_products_url %>
    </div>

  <div id = "main" class= "col-lg-8">
    <h1>管理画面</h1>
    
    <%= link_to image_tag("test.jpg", alt: "Test image"),
            'http://rubyonrails.org/' %>



<%= render 'logout' %>
  </div>
</div>    

